body, html {
    background-color: #fff;
    -webkit-overflow-scrolling: touch;
    min-height: 100%
}

.mp-article .mp-article-caption {
    background-image: url('../image/img4/bg.png')
}

.mp-frame {
    margin: 0 auto
}

.mp-article {
    margin: 0 auto;
    overflow: hidden;
    min-height: 100%;
    background-position: top;
    background-repeat: repeat
}

.mp-article.auto {
    background-size: auto auto
}

.mp-article.cover {
    background-size: 100% auto
}

.mp-article .mp-article-foot, .mp-article .mp-article-head, .mp-article .mp-article-main, .mp-article .mp-article-tpl {
    margin: 0 auto
}

.mp-article .mp-article-head {
    overflow: hidden
}

.mp-article .mp-article-tpl {
    min-height: 1rem;
    position: relative;
    z-index: 2
}

.mp-article .mp-article-main {
    position: relative;
    z-index: 1
}

.mp-article-animscene {
    margin: 0 auto
}

.mp-article .mp-article-tpl-cont {
    position: relative
}

.mp-article .mp-article-tpl-cont > img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    width: 1rem;
    height: 1rem
}

.scene[data-v-65cd711e] {
    position: fixed;
    height: 0;
    z-index: 100000
}

@-webkit-keyframes left1543144580924 {
    from {
        -webkit-transform: translate(-1rem, 776px);
        transform: translate(-1rem, 776px);
    }
    to {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes left1543144580924 {
    from {
        -webkit-transform: translate(-1rem, 776px);
        transform: translate(-1rem, 776px);
    }
    to {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@-webkit-keyframes right1543144580924 {
    from {
        -webkit-transform: translate(1rem, 776px);
        transform: translate(1rem, 776px);
    }
    to {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes right1543144580924 {
    from {
        -webkit-transform: translate(1rem, 776px);
        transform: translate(1rem, 776px);
    }
    to {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}


.mp-article-caption {
    margin: 0 auto;
    padding-bottom: .3rem;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% auto
}

.mp-article-caption .mp-article-caption-wrap {
    margin-left: .3rem;
    margin-right: .3rem;
    overflow: hidden
}


.mp-article-caption .mp-article-caption-tall {
    margin-top: 4.62rem;
    text-align: center
}
